__pycache__
*.egg-info
*.pyc
venv
Datasets/
new_venv
new
myenv
nenv
.vscode
nvenv
Models/*
dist
inference_env/
inference_venv/
!*.md
CHANGELOG.md
.idea
.python-version
setup.py
Tests/
test
build
yolov8*
pyrightconfig.json
Project/1/
get-pip.py
